<div class="card">
  <div class="card-header">
    Letzte Abrechnungen
  </div>
  <div class="card-block">
    <div class="payoff-box-container" *ngIf="payoffs?.length > 0">
      <cbl-payoff-box *ngFor="let payoff of payoffs" [payoff]="payoff"></cbl-payoff-box>
    </div>
    <clr-alert [clrAlertType]="'info'" *ngIf="payoffs?.length == 0" [clrAlertClosable]="false">
      <clr-alert-item>
        <span class="alert-text">
          Es wurden noch keine Abrechnungen in dieser Gruppe gemacht.
        </span>
      </clr-alert-item>
    </clr-alert>
  </div>

  <div class="card-footer">
    <a class="btn btn-sm btn-link" (click)="createPayoff()">Abrechnung</a>
  </div>
</div>

<cbl-confirm-modal [(isOpen)]="confirmPayoffModalOpen"
                   (confirm)="onPayoffConfirm($event)"
                   [action]="createPayoffRequest">
  <ng-template cblConfirmModalTitle>Abrechnung erstellen?</ng-template>
  <ng-template cblConfirmModalText>Dies kann nicht rückgängig gemacht werden.
  </ng-template>
  <ng-template cblConfirmModalCancelButtonText>Abbrechen</ng-template>
  <ng-template cblConfirmModalOKButtonText>Fortfahren</ng-template>
</cbl-confirm-modal>
