<div class="content-container">
  <div class="content-area">

    <div class="clr-row">

      <div class="clr-col-lg-4 clr-col-md-6 clr-col-sm-6 clr-col-xs-12">
        <div class="card">
          <div class="card-header">
            Swafels
          </div>
          <div class="card-block">
            Hier steht irgendwwas interessantes
          </div>

          <div class="card-footer">
            <a class="btn btn-sm btn-link">Fahrt beginnen</a>
            <a class="btn btn-sm btn-link">Zur Community</a>
          </div>
        </div>
      </div>

      <div class="clr-col-lg-4 clr-col-md-6 clr-col-sm-6 clr-col-xs-12">
        <div class="card">
          <div class="card-header">
            Letzte Fahrten
          </div>
          <div class="card-block">
            Hier kommt ein tolles Diagramm hin
          </div>

          <div class="card-footer">
            <a class="btn btn-sm btn-link">Details</a>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
