.branding{

  label{
    font-size: 18px;
    cursor: pointer;

    .beta{
      line-height: 18px;
      font-size: 12px;
      vertical-align: bottom;
      color: #89CBDF;
    }

  }

  .nav-link{
    color: #ffffff;
    cursor: pointer;
  }

}
