<clr-header class="header-1">
  <div class="branding">
    <div class="nav-link">
      <clr-icon shape="line-chart"></clr-icon>
      <label>Carbulator</label>
    </div>
  </div>
  <div class="header-nav" [clr-nav-level]="1">
    <a href="javascript://" class="active nav-link nav-text">Dashboard</a>
    <a href="javascript://" class="nav-link nav-text">Communities</a>
  </div>
  <div class="header-actions">
    <a href="javascript://" class="nav-link nav-icon">
      <clr-icon shape="cog"></clr-icon>
    </a>
  </div>
</clr-header>
