.branding{

  label{
    font-size: 18px;
    cursor: pointer;

    .beta{
      line-height: 18px;
      font-size: 12px;
      vertical-align: bottom;
      color: #ff8400;
    }

  }

  .carbulator-logo{
    background-image: url(../../../../../assets/carbulator_logo.png);
  }

  .nav-link{
    color: #ffffff;
    cursor: pointer;
  }

}
