cbl-register {

  .login-wrapper {

    max-height: 100%;

    form {
      overflow: scroll;
    }

  }

  .btn-register {
    min-height: 1.5rem;
  }

  #password-container {
    margin-bottom: 1rem;
  }

  .clr-input-group {
    margin-right: 0 !important;
  }

  .btn-cancel {
    margin-top: .5rem !important;
  }

}
