.notification-box {
  border: 1px solid #DDDDDD;
  margin: .5rem 0 .5rem 0;
  border-radius: .125rem;
  border-right: .25rem solid #0079b8;
  display: grid;
  grid-template-columns: 75% auto;
  background-color: #F2F2F2;

  .notification-box-col {
    padding: .25rem;
  }

  .icon-text-cell{
    display: grid;
    grid-template-columns: 1rem auto;
  }

  .actions{
    align-self: center;
    justify-self: right;
  }

}
