<div class="notification-box clr-row">
  <div class="notification-box-col clr-col-md-8 clr-col-sm-12">
    <div class="icon-text-cell">
      <div>
        <clr-icon shape="bell"></clr-icon>
      </div>
      <div>
        <strong>Neue Gruppneinladung:</strong> {{invitation.subject.name}}
      </div>
    </div>
    <div class="icon-text-cell">
      <div>
        <clr-icon shape="event"></clr-icon>
      </div>
      <div>
        {{invitation.timeCreated | moment: 'DD.MM.YYYY HH:mm'}}
      </div>
    </div>
  </div>
  <div class="notification-box-col actions  clr-col-md-4 clr-col-sm-12">
      <button class="btn btn-sm btn-primary" (click)="accept()" [clrLoading]="acceptLoading">Annehmen</button>
      <button class="btn btn-sm btn-danger" (click)="reject()" [clrLoading]="rejectLoading">Ablehnen</button>
  </div>
</div>
