<div class="login-wrapper">
  <form class="login" clrForm [formGroup]="forgotPasswordForm">
    <section class="title">
      Passwort vergessen?
      <h5 class="hint">Beantrage hier eine Rücksetzung deines Passworts. Du wirst eine Mail mit einem Link zum
        Zurücksetzen erhalten.</h5>
    </section>
    <div class="login-group">

      <clr-input-container>
        <label>Nutzername oder E-Mail</label>
        <input placeholder="Nutzername oder E-Mail" clrInput formControlName="identification" name="identification"
               required/>
        <clr-control-error *clrIfError="'required'">Pflichtfeld</clr-control-error>
      </clr-input-container>

      <button type="submit" class="btn btn-primary btn-register" (click)="requestResetPasswordMail()"
              [clrLoading]="loadingState">
        Passwort Rücksetzung beantragen
      </button>

    </div>
  </form>
</div>
