<clr-modal [(clrModalOpen)]="isOpen" *ngIf="isOpen">
  <h3 class="modal-title">
    Fahrt beenden
  </h3>
  <div class="modal-body">

    <clr-alert [clrAlertType]="'warning'" [clrAlertClosable]="false" *ngIf="!isOwner()">
      <clr-alert-item>
        <span class="alert-text">
          Diese Fahrt wurde von <strong>{{tour.owner.username}}</strong> gestartet. Beende sie nur wenn du dir sicher
          bist, dass <strong>{{tour.owner.username}}</strong> vergessen hat die Fahrt als beendet zu markieren.
        </span>
      </clr-alert-item>
    </clr-alert>

    <form [formGroup]="finishTourForm" clrForm clrLayout="vertical">

      <clr-input-container>
        <label>Kilometerstand</label>
        <input placeholder="Kilometerstand" clrInput formControlName="endKm" name="endKm"/>
        <clr-control-helper>Der aktuelle Kilometerstand des Autos</clr-control-helper>
        <clr-control-error *clrIfError="'required'">Pflichtfeld</clr-control-error>
        <clr-control-error *clrIfError="'endKm'">Muss höher als der
          Anfangs-Kilometerstand sein ({{tour.startKm}} km)
        </clr-control-error>
        <clr-control-error *clrIfError="'number'">Gib bitte eine Zahl mit maximal zwei Nachkommastellen ein
        </clr-control-error>
      </clr-input-container>

      <cbl-passenger-selector [passengers]="tour.passengers" [communityId]="tour.community.id"
                              *ngIf="isOwner()"></cbl-passenger-selector>

      <clr-textarea-container>
        <label for="comment">Kommentar</label>
        <textarea clrTextarea formControlName="comment" name="comment" id="comment"></textarea>
      </clr-textarea-container>

    </form>


    <div class="map-section">

      <div class="fake-control-container">
        <span class="clr-control-label">Parkplatz</span>
        <div class="action-bar">
          <div *ngIf="geoLocationLoading || geoCodingLoading" class="spinner-container">
            <span class="spinner spinner-inline">Loading...</span> Lade Geodaten...
          </div>
          <div class="action-bar-options" *ngIf="!geoLocationLoading && !geoCodingLoading">
            <form class="clr-form inline-form">
              <input placeholder="Adresse eingeben" name="geocoding-query" class="clr-input"
                     [(ngModel)]="geocodingQuery"/>
            </form>
            <button class="btn btn-sm btn-primary-outline" (click)="geocode()" [disabled]="geocodingQuery == ''">
              <clr-icon shape="search"></clr-icon>
              Suchen
            </button>
            <button class="btn btn-sm btn-icon btn-primary-outline" (click)="getGeoLocation()"
                    *ngIf="!geoLocationLoading">
              <clr-icon shape="target"></clr-icon>
            </button>
          </div>
        </div>
      </div>

      <div *ngFor="let geocodingResult of geocodingResults" class="geocoding-result-container"
           (click)="parkingPositionMap.setMapCoords(geocodingResult.latLng)">
        <div>
          {{geocodingResult.address}}
        </div>
      </div>

      <cbl-parking-position-map [deferredRenderingTime]="200" #parkingPositionMap
                                [dynamic]="true"></cbl-parking-position-map>

    </div>


  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="close()">
      Abbrechen
    </button>
    <button type="button" class="btn btn-primary" (click)="finishTour()" [clrLoading]="isLoading"
            [disabled]="geoLocationLoading">
      Speichern
    </button>
  </div>
</clr-modal>
