<div class="login-wrapper">
  <form class="login" [formGroup]="resetPasswordForm" clrForm clrLayout="vertical">
    <section class="title">
      Passwort zurücksetzen
    </section>
    <div class="login-group">

      <div formGroupName="newPasswords">

        <clr-password-container id="password-container">
          <input placeholder="Neues Passwort" clrPassword formControlName="password" name="password" type="password"
                 required/>
          <clr-control-error *clrIfError="'required'">Pflichtfeld</clr-control-error>
          <clr-control-error *clrIfError="'minlength'">Mindestlänge: 8 Zeichen</clr-control-error>
        </clr-password-container>

        <clr-password-container>
          <input placeholder="Neues Passwort bestätigen" clrPassword formControlName="passwordConfirm"
                 name="password-confirm" type="password" required/>
          <clr-control-error *clrIfError="'required'">Pflichtfeld</clr-control-error>
          <clr-control-error *clrIfError="'minlength'">Mindestlänge: 8 Zeichen</clr-control-error>
        </clr-password-container>

      </div>

      <div class="error" [ngClass]="{active: passwordsDontMatch()}" *ngIf="resetPasswordPressed">
        Passwörter stimmen nicht überein.
      </div>

      <button type="submit" class="btn btn-primary btn-register" (click)="resetPassword()"
              [clrLoading]="loadingState">
        Passwort zurücksetzen
      </button>

    </div>
  </form>
</div>
