<clr-datagrid [clrDgLoading]="isLoading">

  <clr-dg-action-bar *ngIf="community">
    <div class="btn-group">
      <button type="button" class="btn btn-sm btn-secondary" (click)="inviteUserModal.open()">
        <clr-icon shape="plus"></clr-icon>
        Einladen
      </button>
    </div>
  </clr-dg-action-bar>

  <clr-dg-placeholder>Keine Mitglieder vorhanden</clr-dg-placeholder>

  <clr-dg-column [clrDgField]="'username'">
    <ng-container *clrDgHideableColumn="{hidden: false}">Benutzername</ng-container>
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'email'">
    <ng-container *clrDgHideableColumn="{hidden: false}">E-Mail</ng-container>
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'timeCreated'">
    <ng-container *clrDgHideableColumn="{hidden: true}">Anmeldedatum</ng-container>
    <clr-dg-filter [clrDgFilter]="dateFilter">
      <cbl-moment-filter #dateFilter></cbl-moment-filter>
    </clr-dg-filter>
  </clr-dg-column>

  <clr-dg-row *clrDgItems="let user of users">
    <clr-dg-cell>{{user.username}}</clr-dg-cell>
    <clr-dg-cell>{{user.email}}</clr-dg-cell>
    <clr-dg-cell>{{user.timeCreated | moment : 'DD.MM.YYYY HH:mm'}}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    <clr-dg-column-toggle>
      <clr-dg-column-toggle-title>Spalten wählen:</clr-dg-column-toggle-title>
      <clr-dg-column-toggle-button>Alle auswählen</clr-dg-column-toggle-button>
    </clr-dg-column-toggle>
    <clr-dg-pagination #pagination [clrDgPageSize]="15">
      <clr-dg-page-size [clrPageSizeOptions]="[15,30,50,100]">Mitglieder pro Seite</clr-dg-page-size>
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} von {{pagination.totalItems}} Mitgliedern
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>

<div *ngIf="community && invitedUsers.length > 0">
  <h6>Warte auf Einladungsbestätigung von:</h6>
  <ul class="list">
    <li *ngFor="let user of invitedUsers">
      {{user.username}}
    </li>
  </ul>
</div>

<cbl-communities-invite-user-modal [community]="community" #inviteUserModal (invitationsSent)="updateInvitedUsers()">
</cbl-communities-invite-user-modal>
