<div class="card">
  <div class="card-header">
    Mitglieder
  </div>
  <div class="card-block">
    <ng-container *ngIf="!community">
      <span class="spinner spinner-inline"></span> Lade Daten...
    </ng-container>
    <div *ngFor="let member of community?.users">
      <clr-icon shape="user"></clr-icon>
      {{member.username}}
    </div>
    <ng-container *ngIf="invitedUsers.length > 0">
      <h6>Warte auf Einladungsbestätigung:</h6>
      <div *ngFor="let user of invitedUsers">
        <clr-icon shape="user"></clr-icon>
        {{user.username}}
      </div>
    </ng-container>
  </div>

  <div class="card-footer">
    <a class="btn btn-sm btn-link" (click)="inviteUserModal.open()">Neue Mitglieder einladen</a>
  </div>
</div>

<cbl-communities-invite-user-modal [community]="community" #inviteUserModal (invitationsSent)="updateInvitedUsers()">
</cbl-communities-invite-user-modal>
