<h1>{{community?.name}}</h1>

<!--TODO add spinner-->

<clr-tabs *ngIf="community">
  <clr-tab>
    <button clrTabLink>Fahrten</button>
    <ng-template [(clrIfActive)]="tourTabActive">
      <clr-tab-content>
        <cbl-tours-datagrid [tourResource]="tourResource" [communityId]="communityId"></cbl-tours-datagrid>
      </clr-tab-content>
    </ng-template>
  </clr-tab>

  <clr-tab>
    <button clrTabLink>Tankfüllungen</button>
    <ng-template [(clrIfActive)]="refuelTabActive">
      <clr-tab-content>
        <cbl-refuels-datagrid [refuelResource]="refuelResource" [communityId]="communityId"></cbl-refuels-datagrid>
      </clr-tab-content>
    </ng-template>
  </clr-tab>

  <clr-tab>
    <button clrTabLink [clrTabLinkInOverflow]="isMobile">Abrechnungen</button>
    <ng-template [(clrIfActive)]="payoffTabActive">
      <clr-tab-content>
        <cbl-payoffs-datagrid [payoffResource]="payoffResource" [communityId]="communityId"></cbl-payoffs-datagrid>
      </clr-tab-content>
    </ng-template>
  </clr-tab>

  <clr-tab>
    <button clrTabLink [clrTabLinkInOverflow]="isMobile">Mitglieder</button>
    <ng-template [(clrIfActive)]="memberTabActive">
      <clr-tab-content>
        ...
      </clr-tab-content>
    </ng-template>
  </clr-tab>

  <clr-tab>
    <button clrTabLink [clrTabLinkInOverflow]="isMobile">Gruppendetails</button>
    <ng-template [(clrIfActive)]="detailsTabActive">
      <clr-tab-content>
        ...
      </clr-tab-content>
    </ng-template>
  </clr-tab>
</clr-tabs>
