.info-links {
  border-top: #DDDDDD solid 1px;
  margin-top: 2rem;

  .btn {
    margin-top: .5rem;
    float: right;
    color: #9A9A9A;
  }

}

.btn-login {
  min-height: 1.5rem;
}

clr-input-container {
  display: block;
}

.login-wrapper {

  max-height: 100%;

  form {
    overflow: scroll;
  }

}
