.debt-box {
  border: 1px solid #DDDDDD;
  margin: .5rem 0 .5rem 0;
  border-radius: .125rem;
  border-right: .25rem solid;

  .debt-box-col {
    background-color: #FAFAFA;
    padding: .25rem;
  }

  &.is-settled{
    border-right-color: #266900;
  }

  &.is-not-settled{
    border-right-color: #C92100;
  }

}

.costs {
  font-weight: bold;
  text-align: right;
}

.settled {
  display: inline-block;
  margin-left: .25rem;
  color: #266900;

  clr-icon {
    margin-right: .25rem;
  }

}

.not-settled {
  display: inline-block;
  margin-left: .25rem;
  color: #C92100;

  clr-icon {
    margin-right: .25rem;
  }

}
