<div class="debt-box">
  <div class="debt-box-col">
    <div>
      {{debt.debtee.username}} <clr-icon shape="arrow" dir="right"></clr-icon> {{debt.recepient.username}}
    </div>
    <div>
      <button class="btn btn-sm btn-link" *ngIf="!debt.isSettled">Bezahlen</button>
    </div>
  </div>
  <div class="debt-box-col costs">
    <div>{{debt.amount}} €</div>
    <div>
      <div class="settled" *ngIf="debt.isSettled">
        <clr-icon shape="coin-bag"></clr-icon> <strong>Bezahlt</strong>
      </div>
    </div>
  </div>
</div>
