<div class="card">
  <div class="card-header">
    Letzte Fahrten
  </div>
  <div class="card-block">
    <ng-container *ngIf="!tours">
      <span class="spinner spinner-inline"></span> Lade Daten...
    </ng-container>
    <div class="tour-box-container" *ngIf="tours?.length > 0">
      <cbl-tour-box *ngFor="let tour of tours" [tour]="tour"></cbl-tour-box>
    </div>
    <clr-alert [clrAlertType]="'info'" *ngIf="tours?.length == 0" [clrAlertClosable]="false">
      <clr-alert-item>
        <span class="alert-text">
          Es wurden noch keine Fahrten in dieser Gruppe eingetragen.
        </span>
      </clr-alert-item>
    </clr-alert>
  </div>

  <div class="card-footer">
    <a class="btn btn-sm btn-link" (click)="startTourModal.open()">Neue Fahrt</a>
    <a class="btn btn-sm btn-link" [routerLink]="['tabview', 'tours']">Alle anzeigen</a>
  </div>
</div>

<cbl-start-tour-modal [communityId]="communityId" #startTourModal (tourStarted)="tourStarted.emit($event)">
</cbl-start-tour-modal>
