<div class="card">
  <div class="card-header">
    Letzte Tankfüllungen
  </div>
  <div class="card-block">
    <ng-container *ngIf="!refuels">
      <span class="spinner spinner-inline"></span> Lade Daten...
    </ng-container>
    <div class="refuel-box-container" *ngIf="refuels?.length > 0">
      <cbl-refuel-box *ngFor="let refuel of refuels" [refuel]="refuel"></cbl-refuel-box>
    </div>
    <clr-alert [clrAlertType]="'info'" *ngIf="refuels?.length == 0" [clrAlertClosable]="false">
      <clr-alert-item>
        <span class="alert-text">
          Es wurden noch keine Tankfüllungen in dieser Gruppe eingetragen.
        </span>
      </clr-alert-item>
    </clr-alert>
  </div>

  <div class="card-footer">
    <a class="btn btn-sm btn-link" (click)="createRefuelModal.open()">Neue Tankfüllung</a>
    <a class="btn btn-sm btn-link" [routerLink]="['tabview', 'refuels']">Alle anzeigen</a>
  </div>
</div>

<cbl-create-refuel-modal #createRefuelModal (refuelAdded)="addRefuel($event)" [communityId]="communityId">
</cbl-create-refuel-modal>
