<clr-modal [(clrModalOpen)]="isOpen" *ngIf="isOpen">
  <h3 class="modal-title">
    Neue Fahrt starten
  </h3>
  <div class="modal-body">

    <div class="centered-spinner" *ngIf="lastTourLoading">
      <span class="spinner">Loading...</span>
    </div>

    <form [formGroup]="startTourForm" *ngIf="!lastTourLoading">

      <clr-input-container>
        <label>Kilometerstand</label>
        <input placeholder="Kilometerstand" clrInput formControlName="startKm" name="startKm"/>
        <clr-control-helper>Der aktuelle Kilometerstand des Autos</clr-control-helper>
        <clr-control-error *clrIfError="'required'">Pflichtfeld</clr-control-error>
        <clr-control-error *clrIfError="'number'">Gib bitte eine Zahl mit maximal zwei Nachkommastellen ein
        </clr-control-error>
      </clr-input-container>

      <cbl-passenger-selector [passengers]="passengers" [communityId]="communityId"></cbl-passenger-selector>

    </form>


    <clr-alert [clrAlertType]="'warning'" [clrAlertClosable]="false"
               *ngIf="startKmInconsistencyChecked && startKmInconsistent">
      <clr-alert-item>
        <span class="alert-text">
            Der Kilometerstand ist ungleich dem zuletzt eingetragenen Endkilometerstand ({{lastEndKm}} km). Bitte
          bestätige, dass dies beabsichtigt ist um deine Fahrt zu starten.
        </span>
      </clr-alert-item>
    </clr-alert>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="close()">
      Abbrechen
    </button>
    <button type="button" class="btn btn-primary" (click)="checkStartKmConsistency()" [clrLoading]="isLoading"
            [disabled]="!startTourForm?.valid" *ngIf="!startKmInconsistencyChecked || !startKmInconsistent">
      Los fahren
    </button>
    <button type="button" class="btn btn-danger" (click)="addTour()" [clrLoading]="isLoading"
            [disabled]="!startTourForm?.valid" *ngIf="startKmInconsistencyChecked && startKmInconsistent">
      Bestätigen und speichern
    </button>
  </div>
</clr-modal>
