<div class="notification-box">
  <div class="notification-box-col">
    <div class="icon-text-cell">
      <div>
        <clr-icon shape="bell"></clr-icon>
      </div>
      <div>
        <strong>{{runningTour.subject.community.name}}:</strong> Laufende Fahrt
      </div>
    </div>
    <div class="icon-text-cell">
      <div>
        <clr-icon shape="event"></clr-icon>
      </div>
      <div>
        {{runningTour.timeCreated | moment: 'DD.MM.YYYY HH:mm'}}
      </div>
    </div>
  </div>
  <div class="notification-box-col actions">
    <button class="btn btn-sm btn-primary" (click)="finishTourModal.open(runningTour.subject)">Fahrt beenden</button>
    <button class="btn btn-sm btn-danger" (click)="openCancelTourModal(runningTour.subject)">Fahrt abbrechen</button>
  </div>
</div>

<cbl-finish-tour-modal #finishTourModal
                       (tourFinished)="onTourFinishedOrCanceled()">
</cbl-finish-tour-modal>

<cbl-confirm-modal [(isOpen)]="cancelTourModalOpen" [action]="deleteTourRequest" [confirmButtonIsDanger]="true"
                   (confirm)="onTourFinishedOrCanceled()">
  <ng-template cblConfirmModalTitle>Wirklich abbrechen?</ng-template>
  <ng-template cblConfirmModalText>Die Fahrt wird gelöscht. Dies kann nicht rückgängig gemacht werden.
  </ng-template>
  <ng-template cblConfirmModalCancelButtonText>Abbrechen</ng-template>
  <ng-template cblConfirmModalOKButtonText>Löschen</ng-template>
</cbl-confirm-modal>
