<div class="card">
  <div class="card-header">
    Schulden
  </div>
  <div class="card-block">
    <div class="debt-box-container" *ngIf="payoff.debts?.length > 0">
      <cbl-debt-box *ngFor="let debt of payoff.debts" [debt]="debt"></cbl-debt-box>
    </div>
    <clr-alert [clrAlertType]="'info'" *ngIf="payoff.debts?.length == 0" [clrAlertClosable]="false">
      <div class="alert-item">
        <span class="alert-text">
          In dieser Abrechnung sind keine Schulden zu begleichen.
        </span>
      </div>
    </clr-alert>
  </div>
</div>
