<div class="card">
  <div class="card-header">
    Fahrten
  </div>
  <div class="card-block">
    <div class="tour-box-container" *ngIf="payoff.tours?.length > 0">
      <cbl-tour-box *ngFor="let tour of payoff.tours" [tour]="tour" [showDeleteOption]="false"></cbl-tour-box>
    </div>
    <clr-alert [clrAlertType]="'info'" *ngIf="payoff.tours?.length == 0" [clrAlertClosable]="false">
      <clr-alert-item>
        <span class="alert-text">
          In dieser Abrechnung sind keine Fahrten vorhanden.
        </span>
      </clr-alert-item>
    </clr-alert>
  </div>
</div>
