<!--Tour alerts-->

<clr-alert [clrAlertType]="'info'" [clrAlertClosable]="false" *ngIf="runningTour">
  <clr-alert-item>
    <span class="alert-text" *ngIf="!isLoggedInUser(runningTour.owner)">
      <strong>{{runningTour.owner.username}}</strong> fährt gerade!
    </span>
    <span class="alert-text" *ngIf="isLoggedInUser(runningTour.owner)">
      Du fährst gerade!
    </span>
    <div class="alert-actions">
      <clr-dropdown>
        <button class="dropdown-toggle" clrDropdownTrigger>
          Aktionen
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu [clrPosition]="'bottom-right'">
          <div class="dropdown-item" clrDropdownItem (click)="finishTourModal.open(runningTour)">Fahrt beenden</div>
          <div class="dropdown-item" clrDropdownItem (click)="openCancelTourModal()">Fahrt abbrechen</div>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </clr-alert-item>
</clr-alert>

<cbl-finish-tour-modal #finishTourModal></cbl-finish-tour-modal>

<cbl-confirm-modal [(isOpen)]="cancelTourModalOpen" [action]="deleteTourRequest" [confirmButtonIsDanger]="true"
                   (confirm)="onRunningTourCanceled()">
  <ng-template cblConfirmModalTitle>Wirklich abbrechen?</ng-template>
  <ng-template cblConfirmModalText>Die Fahrt wird gelöscht. Dies kann nicht rückgängig gemacht werden.
  </ng-template>
  <ng-template cblConfirmModalCancelButtonText>Abbrechen</ng-template>
  <ng-template cblConfirmModalOKButtonText>Löschen</ng-template>
</cbl-confirm-modal>

<!--Task alerts-->

<clr-alert [clrAlertType]="'warning'" [clrAlertClosable]="false" *ngFor="let taskInstance of openTaskInstances">
  <clr-alert-item>
    <span class="alert-text">{{taskInstance.task.name}}</span>
    <div class="alert-actions">
      <clr-dropdown>
        <button class="dropdown-toggle" clrDropdownTrigger>
          Aktionen
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu [clrPosition]="'bottom-right'">
          <div class="dropdown-item" clrDropdownItem (click)="finishTaskInstance(taskInstance)">
            Als erledigt markieren
          </div>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </clr-alert-item>
</clr-alert>
