// A utility class to remove all padding
.no-padding {
  padding: 0 !important;
}

// Styles for the login page
.login-wrapper {
  background-image: url("assets/login.jpg");
  background-position: bottom;
  background-size: cover;

  .error {
    margin-top: 1rem !important;
  }

}

// Remove h1 margin top
h1 {
  margin-top: 0;
}

// Datagrid links
clr-dg-cell {

  a, a:link, a:visited, a:active, a:hover {

    font-weight: bold;
    color: #0079b8;
    cursor: pointer;

  }

}

// Flat danger button
.btn-danger.btn-link {
  color: #E62700;

  &:hover {
    color: #C92100;
  }
}

// Responsive utilities
@media (max-width: 767px) {
  .hide-md {
    display: none;
  }
}

// Make notifications appear over everything
.simple-notification-wrapper {
  z-index: 9001 !important;
}

// Utility for wrapping spinners so they appear centered
.centered-spinner {
  display: block;
  text-align: center;
}

.margin-top-1-rem{
  margin-top: 1rem;
}

// A list of users

.user-list {

  .user-list-row {

    display: grid;
    grid-template-columns: 1rem auto 1rem;
    margin: .5rem 0 .5rem 0;
    border-radius: .125rem;
    background-color: #F2F2F2;
    padding: .25rem;

    &:hover {

      background-color: #EEEEEE;

    }

    div {

      line-height: 1rem;
      vertical-align: middle;

      &.close-icon:hover {

        color: #E62700;
        cursor: pointer;

      }

      clr-icon {

        height: 18px;
        width: 18px;

      }

    }

  }

}

// A title with a switch on the right side
.title-with-switch {
  display: grid;
  grid-template-columns: auto 1.5rem;

  .dropdown-holder {
    padding-right: .5rem;

    clr-dropdown {
      margin-top: .5rem;
    }

  }

}

// Container for text. Prevents too broad  spaghetti text
.text-container {
  max-width: 900px;
}

// Styles for notification boxes
.notification-box {
  border: 1px solid #DDDDDD;
  margin: .5rem 0 .5rem 0;
  border-radius: .125rem;
  border-right: .25rem solid #0079b8;
  background-color: #F2F2F2;

  .notification-box-col {
    padding: .25rem;
  }

  .icon-text-cell {
    display: grid;
    grid-template-columns: 1rem auto;
  }

  .actions {
    align-self: center;
    justify-self: right;
  }

}
