<div class="unautorized-container row">
  <div class="col-md-8">
    <h1>Du kannst nicht vorbei!</h1>
    <h2 class="error">ERROR 401</h2>
    <h4>Deine Rechte reichen nicht aus um die angeforderte Seite anzuzeigen.</h4>

    <div class="buttons">
      <button class="btn btn-primary" [routerLink]="['/']">Zur Startseite</button>
      <a class="btn btn-primary-outline" href="https://www.youtube.com/watch?v=u0TUsgFpCDg" target="_blank">
        LOTR Szene anschauen
      </a>
    </div>
  </div>
  <div class="col-md-4 gandalf hide-md">
  </div>
</div>
