<h1>Passwort ändern</h1>

<div class="row">
  <div class="col-md-4">
    <form clrForm [formGroup]="changePasswordForm">

      <clr-input-container>
        <label>Altes Password</label>
        <input placeholder="Altes Password" clrInput formControlName="oldPassword" name="old-password" required
               type="password"/>
        <clr-control-error *clrIfError="'required'">Pflichtfeld</clr-control-error>
        <clr-control-error *clrIfError="'minlength'">Mindestlänge: 8 Zeichen</clr-control-error>
      </clr-input-container>

      <div formGroupName="newPasswords">

        <clr-input-container>
          <label>Neues Passwort</label>
          <input placeholder="Neues Passwort" clrInput formControlName="password" name="new-password" type="password"
                 required/>
          <clr-control-error *clrIfError="'required'">Pflichtfeld</clr-control-error>
          <clr-control-error *clrIfError="'minlength'">Mindestlänge: 8 Zeichen</clr-control-error>
        </clr-input-container>

        <clr-input-container>
          <label>Neues Passwort bestätigen</label>
          <input placeholder="Neues Passwort bestätigen" clrInput formControlName="passwordConfirm"
                 name="new-password-confirm" type="password" required/>
          <clr-control-error *clrIfError="'required'">Pflichtfeld</clr-control-error>
          <clr-control-error *clrIfError="'minlength'">Mindestlänge: 8 Zeichen</clr-control-error>
        </clr-input-container>

      </div>

      <clr-alert [clrAlertType]="'alert-danger'" *ngIf="changePasswordPressed && passwordsDontMatch()"
                 class="margin-top-1-rem">
        <clr-alert-item>
        <span class="alert-text">
          Passwörter stimmen nicht überein.
        </span>
        </clr-alert-item>
      </clr-alert>

      <button type="submit" class="btn btn-primary btn-register margin-top-1-rem" (click)="changePassword()"
              [clrLoading]="loadingState">
        Passwort ändern
      </button>

    </form>
  </div>
</div>
