<h1>Über</h1>

<p>Carbulator ist eine Webapp zum managen von Car Sharing verbundenen Aufgaben wie z.B. der Spritkostenaufteilung.<br>
  Der Name Carbulator wurde von "Dark Markus" geprägt und leitet sich von <em>Ta<strong>bula</strong>r
    <strong>Car</strong> Calc<strong>ulator</strong></em> ab.</p>


<h4>Der Autor</h4>

Felix Engelmann ist ein Webentwickler aus Koblenz und treibt die Entwicklung des Carbulators als Hobby Projekt alleine
voran. Durch seine eigene Car Sharing Gruppe kam die Idee diese App umzusetzen auf. Diese persönliche
Herausvorderung hat Felix gerne angenommen und entwickelt stetig weiter was den Carbulator zu dem macht was er heute
ist. ;)

<h4>Du möchtest helfen?</h4>

Hast du einen Fehler gefunden oder möchtest mit ins Carbulator Team - bzw. aus dem 1-Mann Projekt ein Team gründen ;P -
Schreib eine E-Mail an <a href="mailto:info@carbulator.net">info@carbulator.net</a> oder öffne ein <a
  href="https://github.com/Carbulator/carbulator-client">Issue auf Github</a>.


<h4>Carbulator</h4>

<p><strong>Version: </strong> {{version}}<br>
  <strong>Lizenz: </strong> <a href="https://opensource.org/licenses/MIT" target="_blank">MIT</a></p>
