cbl-typeahead{

  margin: 1rem 0 1rem 0;

}

.user-list{

  .user-list-row{

    display: grid;
    grid-template-columns: 1rem auto 1rem;
    margin: .5rem 0 .5rem 0;
    border-radius: .125rem;
    background-color: #F2F2F2;
    padding: .25rem;

    &:hover{

      background-color: #EEEEEE;

    }

    div {

      line-height: 1rem;
      vertical-align: middle;

      &.close-icon:hover{

        color: #E62700;
        cursor: pointer;

      }

      clr-icon{

        height: 18px;
        width: 18px;

      }

    }

  }

}
