<form clrForm [formGroup]="carForm">

  <clr-input-container>
    <label>Spitzname</label>
    <input placeholder="Spitzname" clrInput formControlName="name" name="name" />
    <clr-control-helper>Hat dein Auto einen Spitznamen?</clr-control-helper>
  </clr-input-container>

  <clr-input-container>
    <label>Hersteller</label>
    <input placeholder="Hersteller" clrInput formControlName="make" name="make" />
    <clr-control-helper>z.B. VW</clr-control-helper>
    <clr-control-error *clrIfError="'required'">Pflichtfeld</clr-control-error>
  </clr-input-container>

  <clr-input-container>
    <label>Modell</label>
    <input placeholder="Modell" clrInput formControlName="model" name="model" />
    <clr-control-helper>z.B. T1</clr-control-helper>
    <clr-control-error *clrIfError="'required'">Pflichtfeld</clr-control-error>
  </clr-input-container>

</form>
