<div class="title-with-switch">
  <div>
    <h1>{{community?.name}}</h1>
  </div>
  <div class="dropdown-holder">
    <clr-dropdown>
      <button type="button" clrDropdownTrigger>
        <clr-icon shape="grid-view" size="24"></clr-icon>
        <clr-icon shape="caret down"></clr-icon>
      </button>
      <clr-dropdown-menu *clrIfOpen [clrPosition]="'bottom-right'">
        <label class="dropdown-header">Ansicht wählen</label>
        <button type="button" clrDropdownItem class="active">
          <clr-icon shape="grid-view"></clr-icon>
          Kacheln
        </button>
        <button type="button" clrDropdownItem [routerLink]="['tabview', 'tours']">
          <clr-icon shape="view-list"></clr-icon>
          Listen
        </button>
      </clr-dropdown-menu>
    </clr-dropdown>
  </div>
</div>

<cbl-community-alerts [communityId]="communityId" *ngIf="communityId"></cbl-community-alerts>

<div class="clr-row">

  <div class="clr-col-lg-4 clr-col-md-6 clr-col-sm-6 clr-col-xs-12">
    <cbl-community-refuel-card [communityId]="communityId"></cbl-community-refuel-card>
  </div>

  <div class="clr-col-lg-4 clr-col-md-6 clr-col-sm-6 clr-col-xs-12">
    <cbl-community-tour-card [communityId]="communityId" #toursCard></cbl-community-tour-card>
  </div>

  <div class="clr-col-lg-4 clr-col-md-6 clr-col-sm-6 clr-col-xs-12">
    <cbl-community-payoff-card [communityId]="communityId"></cbl-community-payoff-card>
  </div>

  <div class="clr-col-lg-4 clr-col-md-6 clr-col-sm-6 clr-col-xs-12">
    <cbl-community-member-card [community]="community"></cbl-community-member-card>
  </div>

  <div class="clr-col-lg-4 clr-col-md-6 clr-col-sm-6 clr-col-xs-12">
    <cbl-community-info-card [community]="community"></cbl-community-info-card>
  </div>

</div>
